/* Original theme - https://github.com/chriskempson/tomorrow-theme */

@import "./global.css";

.pln {
    color: var(--ptty-text-col);
}

@media screen {
    /* string content */
    .str,
    /* a markup attribute value */
    .atv {
        color: var(--ptty-str-col);
    }

    /* a keyword */
    .kwd,
    /* a markup tag name */
    .tag {
        color: var(--ptty-kw-col);
        font-weigth: bold;
    }

    /* a comment */
    .com {
        color: var(--ptty-com-col);
    }

    /* a type name */
    .typ {
        color: var(--ptty-type-col);
        font-weigth: bold;
    }

    /* a literal value */
    .lit {
        color: var(--ptty-lit-col);
    }

    /* punctuation */
    .pun {
        color: var(--ptty-punct-col);
    }

    /* lisp brackets */
    .opn,
    .clo {
        color: var(--ptty-brack-col);
    }

    /* a markup attribute name */
    .atn {
        color: var(--ptty-fn-col);
    }

    /* a declaration */
    .dec {
        color: #f5871f;
    }

    /* a variable name */
    .var {
        color: #c82829;
    }

    /* a function name */
    .fun {
        color: #4271ae;
    }
}

/* Style */
/*
pre.prettyprint {
    background: white;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 12px;
    line-height: 1.5;
    border: 1px solid #ccc;
    padding: 10px;
}
*/

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 { /* */ }

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { /* */ }
